# Application
html/app/plugins/*
!html/app/plugins/.gitkeep
html/app/mu-plugins/*/
html/app/themes/*
!html/app/themes/.gitkeep
html/app/upgrade
html/app/uploads/*
!html/app/uploads/.gitkeep

# WordPress
html/wp
html/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep

# Builds
builds/gothicjoe-cms.0.0.1.zip